on: [push]

jobs:
  little_bee_server_test:
    runs-on: ubuntu-latest
    name: little bee server test
    steps:
    - name: Setup Env
      id: hello
      uses: yuxiang660/sqlite-action@v3
      with:
        who-to-greet: 'Yuxiang Wang'
    - name: Get the output time
      run: echo "The time was ${{ steps.hello.outputs.time }}"
    - name: Test Go
      run: go version
    - name: Test Redis
      run: redis-cli --version
    - name: Test Sqlite
      run: sqlite3 --version
